<div class="container">
  <div class="row">
    <div class="col-mg-3">
      <%= render "users/info", user: @user, book: @book %>
    </div>
    <div class="col-mg-8 offset-mg-1">
      <h1>Book</h1>
      <table class="table">
        
      </table>
    </div>
  </div>
</div>