<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/info", user: @show_book.user, book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th>Tag</th>
          <th colspan=4></th>
        </tr>
        <tr id="book_detail">
          <%= render "books/info", book: @show_book %>
        </tr>
      </table>
      <table class="table" id="comments_table">
        <%= render "book_comments/index", comments: @show_book.book_comments %>
      </table>
      <div id="errors_wrap">

      </div>
      <div class="text_form">
        <%= render "book_comments/form", book_comment: @book_comment, book: @show_book %>
      </div>
    </div>
  </div>
</div>