
<div class="container">
  <div class="row">
    <div class="mx-auto px-3">
      <h1>
      welcome to <span class="fas fa-book"></span>
      <strong>Bookers</strong>!!
      </h1>
    </div>
  </div>
</div>