<div class="container">
  <div class="row">
    <div class="mx-auto px-3">
      <h1>
      welcome to <span class="fas fa-book"></span>
      <strong>Bookers</strong>!!
      </h1>
      <p>In <span class="fas fa-book"></span><strong>Bookers</strong>,</p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to "Log in", new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3" %>
        </div>
        <div class="row">
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-sm btn-block mb-3" %>
        </div>
      </div>
    </div>
  </div>
</div>