<% if content.errors.any? %>
  <h3><%= content.errors.count %> errors prohibited this obj from being saved:</h3>
  <ul>
    <% content.errors.full_messages.each do |error|%>
      <li>
        <%= error %>
      </li>
    <% end %>
  </ul>
<% end %>